ido.last
*.elc
.cask
.mc-lists.el
*~
/backups/
*recentf
bookmarks
history
places
smex-items

*.~undo-tree
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
org-gcal/
org-roam.db

# anaconda-mode
anaconda-mode/

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# ensime
ensime

# multiple cursors
.mc-list.el

# custom
custom/custom.el

network-security.data
quelpa
transient
.cache

.last-package-update-day
.lsp-session-v1
.lsp-eslint-choices
amx-items
session.*

# racket mode
racket-mode

# dap mode
.dap-breakpoints

# eww
url/

# google cal
persist/
request/

# native-comp
/eln-cache

# org.babel generated
emacs.el

# emacs-rime
rime/
